* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto",Arial,sans-serif;
	font-weight: 300;
	font-weight: normal;
	font-size: 12pt;
}
a:active, a:link, a:visited {
	text-decoration: none;
	color: skyblue;
}
